extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        //- Replace with your name
        h1 Tanner Mantooth

        //- Feel free to personalize the title below
        p Full Stack JavaScript Developer


        .about-bio

          //- Replace the boilerplate below with your best elevator pitch
          p Hi there! I'm Tanner, a passionate junior-level JavaScript developer with a solid foundation in front-end and back-end technologies. I bring hands-on experience in building interactive and responsive user interfaces using HTML, CSS, and JavaScript. I've honed my skills through hands-on projects and coursework, mastering key frameworks like React and Node.js. My enthusiasm for problem-solving and continuous learning drives me to stay updated on the latest industry trends and best practices. I've successfully collaborated on projects, demonstrating my ability to work in a team and contribute to the development lifecycle. With a strong commitment to writing clean and maintainable code, I am eager to bring my skills to a dynamic team where I can contribute to creating innovative and user-friendly web applications. 


      .skills-contact-box.box
        h6 Skills

        //- Replace skills below with your own skills — at this point, you should be able to list as many as ten skills
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        //- Replace with your own contact info - feel free to use fake information if you prefer
        ul
          li 501-428-9310
          li tanner_23@live.com

        //- Add URLs to the hrefs below to link to your social media accounts - feel free to use non-personal links to social media home pages if you prefer
        a.btn-link(href='https://www.linkedin.com/in/tanner-mantooth-1a614b215/') LinkedIn
        a.btn-link(href='https://github.com/TannerMantooth') GitHub

    nav.nav
      a(href='/')
        span &larr;
        |  Back