extends layout.pug

block content

    h1 #{err.status}
    h2= `${err.message}`
    pre= `${err.stack}`

    div
        nav.nav
            a(href='/')
                span &larr;
                | Return