extends layout.pug

block content

  article.portfolio-intro

    h1 My Project Portfolio

    p This is a live portfolio that holds all of my current and past projects. I update it on a regular basis to show off my work. Please feel free to browse through any of the projects that are listed.


  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in projects
        
        .cell
          a(href=`/projects/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`, alt=`${project.project_name}`)
            h5= project.project_name
